<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Goods</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="inputForm">
    <h3>Add new goods</h3>
    <form method="POST">
        NAME:
        <br>
        <input id="name" type="text" name="name" size="50"/>
        <br>
        PRICE:
        <br>
        <input id="price" type="text" name="price" size="50"/>
        <br>
        <input type="submit" value="add new goods">
    </form>
</div>
</body>
</html>