<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Goods</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<center>
    <h3>Add new goods</h3>
    <form method="POST">
        <label for="Name">Name:</label>
        <input type="text" name="name" size="50"/><br/>
        <label for="price">Price:</label>
        <input type="text" name="price" size="50"/>
        <br/>
        <input type="submit"></input>

    </form>
</center>
</body>
</html>