<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<center>
    <h3>Add new order</h3>
    <form method="POST">
        <label for="client">Client:</label>
        <input type="text" name="client" size="50"></input><br/>
        <label for="date">Date:</label>
        <input type="text" name="date" size="50"></input><br/>
        <label for="address">Address:</label>
        <input type="text" name="address" size="50"></input><br/>
        <br/>
        <input type="submit"></input>

    </form>
</center>
</body>
</html>